body {
    height: 90vh;
    background-image: url(img/cloud.jpg);
    background-position: center;
    background-repeat: no-repeat;
}


.my-card {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 65vh;
    height: 65vh;
    background-color: rgb(44, 45, 46);
    border-radius: 5%;
    box-shadow: 10px 10px 5px black;
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
}

#intro {
  text-align: center;
  font-size: 30px;
  color: white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 800;
}

#description {
  padding-top: 1vh;
  color: white;
  font-size: large;
}

#carousel-section {
  display: inline-flex;
}

#carousel-desc {
  padding-left: 2px;
  color: white;
  font-size: small;
  
  -ms-transform: translate(-0%, -0%);
  transform: translate(-0%, 50%);
}

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  .carousel {
    width: 15vw;
    height: 20vh;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
  }
  
  .slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
  }
  
  .carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 2rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
  }
  
  .carousel-button:hover,
  .carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
  }
  
  .carousel-button:focus {
    outline: 1px solid black;
  }
  
  .carousel-button.prev {
    left: 1rem;
  }
  
  .carousel-button.next {
    right: 1rem;
  }